.productFake {
    border-radius: 20px;
    transition: box-shadow .3s;
}

.productFake:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.boxSale {
    background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    

  
}