.each-slide > div{
  display: flex;
  justify-content: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 600px;
  border-radius: 30px !important;

}

.roundedImage {
  border-radius: 20px !important;
}