.authLayout {

  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}

.mainLayout {

  margin-bottom: 60px;
  min-height: 100vh;
  background-color: #0093E9;
background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);


}

.ShopL {
  margin: '80px auto';
  max-width: '1440px';
  padding: '0px 30px';
 
}