.categoryCard {
    border-radius: 20px;
    transition: box-shadow .3s;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.categoryCard:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, .2);
}

.boxSale {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}